

body{

  font-family: 'Titillium Web', sans-serif;
    background-color:#eeeeee;
    color:#212121;
}

.Rectangle {
left: 25px;
top: 79px;
width: 100%;
height: 100px;

border: none;
border-radius: 0px;
}


#nav1{

height: 170px;

}

#logo{
left: 66px;
top: 74px;
width: 103px;
height: 101px; 
}

#searchplaceholder{

background-color: white;

}

.bg{
background: chocolate;
}
.navbar-brand{

position: absolute;
left: 150px;
top:20px;
}

.nav-link{

color:#616161;
}
.nav-link:hover{
color:#f5f5f5 ;
}

#btnlog{
position: relative;
left: 400px;
margin-top: -100px;
}





.btn {
position: relative;
width: 20vh;
text-indent: 0px;
}

.material-icons{
display: inline-flex;
vertical-align: top;
left: 50px;

}

.carousel-inner{


height: 500px !important;
}
@media only screen and (max-width: 600px) {
.carousel-inner{
height: unset !important;
}


}


.py-5 {
padding-top: 3rem!important;
padding-bottom: 3rem!important;

}


.card-img, .card-img-bottom, .card-img-top {
width: 100%;
height: 40vh;
object-fit: cover;
object-position: center;
-o-object-fit: fill;
bottom: 500px;

}
.navbtn{

left:2rem;
}


.nav-link:hover {

color: #0d6efd;
}


.nav-tabs li.active  a{
display: block;
background-color: tomato !important;
}

.carousel-item{
  height: 32rem;
  background-color:black;
  color: white;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;

}
@media only screen and (min-width : 1200px) {
  .carousel-caption
  {
    top: 46%;
  }
}




      