<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
         
         
         
         <servlet>
         
         <servlet-name>Signup</servlet-name>
         <servlet-class>com.Page.UserServelet</servlet-class>

         </servlet>
			<servlet-mapping>
			<servlet-name>Signup</servlet-name>
			<url-pattern>/Signup</url-pattern>
			
			</servlet-mapping>         
         
          <servlet>
         
         <servlet-name>userLogin</servlet-name>
         <servlet-class>com.Page.userLoginServelt</servlet-class>

         </servlet>
			<servlet-mapping>
			<servlet-name>userLogin</servlet-name>
			<url-pattern>/userLogin</url-pattern>
			
			</servlet-mapping>     
			
			
			  <servlet>
         
         <servlet-name>logout</servlet-name>
         <servlet-class>com.Page.LogOutServelt</servlet-class>

         </servlet>
			<servlet-mapping>
			<servlet-name>logout</servlet-name>
			<url-pattern>/logout</url-pattern>
			
			</servlet-mapping>   
         
         <servlet>
              <servlet-name>Update</servlet-name>
         <servlet-class>com.Account.Accountservelt</servlet-class>

         </servlet>
			<servlet-mapping>
			<servlet-name>Update</servlet-name>
			<url-pattern>/Update</url-pattern>
			
			</servlet-mapping>  
			
			
			  <servlet>
              <servlet-name>Electronics</servlet-name>
         <servlet-class>items.ElectronicServelt</servlet-class>

         </servlet>
			<servlet-mapping>
			<servlet-name>Electronics</servlet-name>
			<url-pattern>/Electronics</url-pattern>
			
			</servlet-mapping>  
			
				  <servlet>
              <servlet-name>Clothes</servlet-name>
         <servlet-class>items.ClothsServelt</servlet-class>

         </servlet>
			<servlet-mapping>
			<servlet-name>Clothes</servlet-name>
			<url-pattern>/Clothes</url-pattern>
			
			</servlet-mapping>  
			
			
			
		<servlet>
         <servlet-name>Search</servlet-name>
         <servlet-class>com.Order.SearchServelt</servlet-class>

         </servlet>
			<servlet-mapping>
			<servlet-name>Search</servlet-name>
			<url-pattern>/Search</url-pattern>
			
			</servlet-mapping>  
         
         
         
         	<servlet>
         <servlet-name>SellerLogin</servlet-name>
         <servlet-class>com.Seller.SellerLoginServelt</servlet-class>

         </servlet>
			<servlet-mapping>
			<servlet-name>SellerLogin</servlet-name>
			<url-pattern>/SellerLogin</url-pattern>
			
			</servlet-mapping> 
			
			  	<servlet>
         <servlet-name>Orders</servlet-name>
         <servlet-class>com.Order.OrderServelt</servlet-class>

         </servlet>
			<servlet-mapping>
			<servlet-name>Orders</servlet-name>
			<url-pattern>/Orders</url-pattern>
			
			</servlet-mapping> 
			
			
			  	<servlet>
         <servlet-name>Sport</servlet-name>
         <servlet-class>items.SportServelt</servlet-class>

         </servlet>
			<servlet-mapping>
			<servlet-name>Sport</servlet-name>
			<url-pattern>/Sport</url-pattern>
			
			</servlet-mapping> 
			
				
			  	<servlet>
         <servlet-name>Toys</servlet-name>
         <servlet-class>items.ToysServelt</servlet-class>

         </servlet>
			<servlet-mapping>
			<servlet-name>Toys</servlet-name>
			<url-pattern>/Toys</url-pattern>
			
			</servlet-mapping> 
			
			
				  	<servlet>
         <servlet-name>ElectronicInsert</servlet-name>
         <servlet-class>com.insert.electronicInsert</servlet-class>

         </servlet>
			<servlet-mapping>
			<servlet-name>ElectronicInsert</servlet-name>
			<url-pattern>/ElectronicInsert</url-pattern>
			
			</servlet-mapping> 
			
				
				  	<servlet>
         <servlet-name>Delete</servlet-name>
         <servlet-class>com.Update.DeleteDataServelt</servlet-class>

         </servlet>
			<servlet-mapping>
			<servlet-name>Delete</servlet-name>
			<url-pattern>/Delete</url-pattern>
			
			</servlet-mapping> 
			
			
	
         </web-app>
         </element>